#all {
  width: 60%;
  /*margin: absolute;
  text-align: center;*/
  margin-right: auto; 
  margin-left: auto;
  //padding: .025em;
  -webkit-box-shadow: 5px 10px 15px 5px #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#header {
  height: 20%;
  //width: 70%;
  background: #ccc;
  text-align: center;
  margin-right: auto; 
  margin-left: auto;
  padding: .5em;
  -webkit-border-top-right-radius:6px;
  -webkit-border-top-left-radius: 6px;
  //make it work for other browsers
  //-webkit-box-shadow: 5px 15px 15px 5px #999;
  overflow: auto;
}

#headernav {

}

#logo {
  float: left;
  text-align: left;
}

#login {
  //float: right;
  text-align: right;
}

#content input[type="text"],
#content input[type="password"],
#login input[type="text"],
#login input[type="password"] {
  //border: 1px solid #ddd;
  border-radius: 4px;
  //box-shadow: inset 1px 1px 2px #ddd;
  height: 20px;
  //margin: 2px 2px;
  //padding: 2px 2px;
  //width: 120px;
}

#rightnav {

}

#leftnav {
  width: 20%;
  height: 60%;
  float: left;
  border-right: solid 2px #ccc;
}

#footernav {

}

#content {
  height: 60%;
  background: #00FFFF;
  margin-right: auto; 
  margin-left: auto;
  //width: 70%;
  padding-left: .5em;
  padding-right: .5em;
  //-webkit-box-shadow: 5px 15px 15px 5px #999;
  overflow: auto;
}

#footer {
  height: 20%;
  background: #ccc;
  text-align: center;
  margin-right: auto; 
  margin-left: auto;
  //width: 70%;
  padding: .5em;
  //-moz-box-shadow: 0 0 5px 5px #999;
  //-webkit-box-shadow: 5px 15px 15px 5px #999;
  //-moz-border-radius: 6px;
  -webkit-border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius: 6px;
  //border-radius: 6px;
}

